.cart-item {
    border: 1px solid var(--color-primary-light);
    box-shadow: 0 4px 6px var(--color-primary-light-shadow);
    border-radius: 10px;
    padding: 20px;
}

.cart-image {
    height: 150px;
    width: auto;
    margin: 0 20px;
}

.cart-item-details {
    min-width: 300px;
}

h6 {
    font-size: 1.2rem;
    font-weight: 400;
}

.cart-summary-card.card {
    padding: 20px;
    height: 200px;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary-light);
    box-shadow: 0 4px 6px var(--color-primary-light-shadow);
    border-radius: 10px;
    position: relative
}

.cart-summary-card.card:hover {
    box-shadow: 0 4px 6px var(--color-primary-light-shadow);
    transform: none;
    cursor: auto;
}

.cart-summary-card h4 {
    font-weight: 300;
}

.quantity-btn {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.quantity-btn:hover {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    color: white;
}

.buy-button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.buy-button:hover {
    background-color: var(--color-accent-light);
}
    