.product-card-container {
    position: relative;
    background-color: transparent;
    border: 1px solid var(--color-primary-light);
    border-radius: 10px;
    margin: 0 20px;
    padding: 0;
}

.product-card-container:hover {
    box-shadow: 0 10px 20px var(--color-primary-light-shadow), 0 4px 8px rgba(0, 0, 0, .06);
}

.product-card-image {
    width: 100%;
    max-width: 150px;
    object-fit: cover;
    margin: 10px auto;
}

.product-card-body {
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 130px;
}

.product-card-link, .card-title {
    text-decoration: none;
    color: var(--color-primary-light);
}

.card {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    background: transparent;
}

.price-container {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-accent);
}

@media(max-width: 990px) {
    .card {
        margin: 20px;
    }
}